.none {
  display: none;
}

.backholder {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.holder {
  position: relative;
}

.logo {
  position: absolute;
  top: 2rem;
  left: calc(50% - 12em);
  width: 25em;
  margin: auto;
  z-index: 1;
  -webkit-animation: logo 2s ease;
}

@-webkit-keyframes logo {
  0% {-webkit-transform: rotate(-260deg) scale(0,0);}
  100% {-webkit-transform: rotate(0deg) scale(1,1);}
}

.burst {
  position: absolute;
  top: calc(50% + 5em);
  left: calc(50% - 20em);
  width: 40em;
  margin: auto;
  z-index: 0;
  opacity: 0;
  -webkit-filter: blur(78px);
  -webkit-animation: burst 2s ease infinite;
  -webkit-animation-delay: 2s;
}

@-webkit-keyframes burst {
  0% {-webkit-opacity: 0;}
  50% {-webkit-opacity: 1;}
  100% {-webkit-opacity: 0;}
}

.rburst {
  position: absolute;
  top: calc(50% - 10em);
  left: calc(50% - 20em);
  width: 40em;
  margin: auto;
  z-index: 0;
  opacity: 0;
  -webkit-filter: blur(78px);
  -webkit-animation: rburst 4s ease infinite;
  -webkit-animation-delay: 2s;
}

@-webkit-keyframes rburst {
  0% {-webkit-opacity: 0;}
  50% {-webkit-opacity: 1;}
  100% {-webkit-opacity: 0;}
}

 .btn {
  position: absolute;
  top: 40rem;
  left: calc(50% - 2.875em);
  background: #428BCA;
  color: #fff;
  font-family: "Anonymous Pro" Sans-serif;
  font-weight: 700;
  font-size: 2rem;
  height: 2em;
  width: 5.75em;
  line-height: 2rem;
  margin: auto;
  text-align: center;
  border: 0;
  transition: all 0.3s ease 0s;
  }

.btn:hover {
  opacity: 0.75;
}

@-webkit-keyframes btn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade {
  opacity: 0;
  -webkit-animation:btn 1.5s ease forwards;
  -webkit-animation-delay: 5s;
}

.textfade {
  opacity: 0;
  -webkit-animation:text 1.5s ease forwards;
  -webkit-animation-delay: 4s;
}

@-webkit-keyframes text {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.text {
  position: absolute;
  top: 34rem;
  font-size: 1.25rem;
  font-weight:700;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 100%;
}

.box {
    opacity:1;
}

.js-box-show-hide,
.box:target {
    display: none;
}

.js-box-show {
    opacity: 1;
}


@media only screen and (max-device-width: 890px) {
.btn {
  xleft: calc(34% + 2em);
  }
}


@media only screen and (max-device-width: 1110px) {

.btn {
  xleft: calc(36% + 2em);
  }

}
