.bwight{
  background-color: #ECF6F8;
}

.bblue{
  background-color: #86D2DD;
}

.blue{
  background-color: #00AFD2;
}

.fred{
  background-color: #F04E34;
}

.dgrey{
  background-color: #262626;
}

.tdgrey{
  color: #262626;
}

.twhite{
  color: #ECF6F8;
}

.white{
  background-color: white;
}

.lgery{
  background-color: #e5e5e5;
}
