/*Base Colours*/

.lgrey {
  background-color: #dcdcdc;
}

.mgrey {
  background-color: #626266;
}

.dgrey {
  background-color: #020304;
}

.gyel {
  background-color: #cce961
}

.tan {
  background-color: #938172
}

.burr {
  background-color: #541f14
}

/*Colours for type*/

.tdgrey{
  color: #262626;
}

.twhite{
  color: #ECF6F8;
}
