.bwight{
  background-color: #ECF6F8;
}

.bblue{
  background-color: #86D2DD;
}

.blue{
  background-color: #00AFD2;
}

.fred{
  background-color: #F04E34;
}

.dgrey{
  background-color: #262626;
}

.tdgrey{
  color: #262626;
}

.twhite{
  color: #ECF6F8;
}

.white{
  background-color: white;
}

.lgery{
  background-color: #e5e5e5;
}

.st0 {
  fill:#4A342F;
}

.st1 {
  fill:#55403C;
}

.st2 {
  fill:#FA3EFF;
}

.st3 {
  fill:#003A52;
}

.st4 {
  fill:#C89C6E;
}

.st5 {
  fill:#FAA018;
}

.st6 {
  fill:#282230;
}

.st7 {
  fill:#9C7659;
}

.st8 {
  fill:#C29360;
}

.st9 {
  fill:#161324;
}

.st10{
  fill:#CDA0FA;
}

.st11{
  fill:#161324;
}

.st12{
  fill:#00e3ff;
}

.st13{
  fill:#382921;
}

.st14{
  fill:#F9772F;
}

.st15{
  fill:#FD732B;
}
