@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;

	-moz-text-size-adjust-100%;
	-ms-text-size-adjust-100%;
	-webkit-text-size-adjust-100%;
	-text-size-adjust-100%;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

html {
	font-family: 'Anonymous Pro', Sans-serif;
	background-color: #ECF6F8;
  overflow: hidden;
}

@media only screen and (min-width: 60em) {

html {
    font-size: 110%;
}
}

@media only screen and (min-width: 90em) {

html {
    font-size: 120%;
}

}

@media only screen and (min-width: 120em) {

html {
    font-size: 130%;
}
}

body {
	margin: 0;
}

.active{
	display: none;
	padding: 0;
}

.menu{
  position: absolute;
  width: 100%;
  left: 100%;
  background-color: rgba(10,10,10, 0.8);
  top: 7.5em;
  transition: all 350ms ease;
  z-index: 100;
}

.js-menu-open {
  left: 0;
  opacity: 1;
}

.nav-btn {
  right: 2em;
  display: block;
  height: 2em;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  text-align: center;
  width: 100%;
}

.nav-list a {
  display: block;
  width: 97%;
  padding: 1em;
  text-decoration: none;
  color: #fff;
  transition: all 500ms ease;
  background-color: rgba(255,255,255, 0.0);
}

.nav-list a:hover {
  background-color: rgba(255,255,255, 0.1);
}

#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

.imgwidth{
  padding: 0;
  margin: auto;
  width:100%;
  z-index: 1;
  position: relative;
}

.hiddentext{
  text-align: center;
  position: relative;
  bottom: 1.5em;
  z-index: 2;
  trasition:all 200ms ease;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, .8);
  color:
}

.changed{
  position: absolute;
  bottom: 0;
  left: 25%;
  opacity: 0;
  display: block;
}

figure:hover .change {
  opacity: 0;
}

figure:hover .changed {
  opacity: 1;
}


.change{
  position: relative;
  opacity: 1;
}


@media only screen and (min-width:25em) {

    .menu li {
        display: block;
        padding: 0;
    }
    .menu {
        top: 4.5em;
    }
}

@media only screen and (min-width:48em){

    .menu {
        display: inline-block;
        text-align: right;
    }
}

@media only screen and (min-width:68em){

    .menu {
        top:4.41em;
    }
}

@media only screen and (min-width:78em){

    .menu {
        top:4.51em;
    }
}

