.me{
  display:block;
  width: 100%;
}

.holder{
  overflow-x:hidden;
}

.bitme{
  -webkit-animation: bitme 4s;
  animation: bitme 4s;
  z-index: 0;
}


@-webkit-keyframes bitme {
  0% {-webkit-transform: translateY(17em);}
  9% {-webkit-transform: translateY(12em);}
  11% {-webkit-transform: translateY(13em);}
  13% {-webkit-transform: translateY(12em);}
  15% {-webkit-transform: translateY(17em);}
  20% {-webkit-transform: translateY(-6em);}
  25% {-webkit-transform: translateY(0em);}
}

@keyframes bitme {
  0% {transform: translateY(17em);}
  9% {transform: translateY(12em);}
  11% {transform: translateY(13em);}
  13% {transform: translateY(12em);}
  15% {transform: translateY(17em);}
  20% {transform: translateY(-6em);}
  25% {transform: translateY(0em);}
}

.headlook{
  animation: headlook 2s;
  transform-origin: 78em;
}

@keyframes headlook {
  0% {transform: scaleX(0);}
  50% {transform: scaleX(-1);}
  100% {transform scaleX(0);}
}

.hello{
  position: relative;
  top: -22em;
  opacity: 0;
  -webkit-animation: hello 2s ease forwards;
  -webkit-animation-delay: .5s;
  animation: hello 2s ease forwards;
  animation-delay: 1s;
}

@-webkit-keyframes hello {
  0% {-webkit-opacity: 0;}
  100% {-webkit-opacity: 1;}
}

@keyframes hello {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.photoshop {
  width: 15em;
  transform: translateY(22em) translateX(7em);
}

.aftereffects {
  width: 15em;
  transform: translateY(22em) translateX(31em);
}

.illustrator {
  width: 15em;
  transform: translateY(22em) translateX(56em);
}
